<section class="todoapp">
  
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" 
					 placeholder="What needs to be done?" 
					 autofocus="" 
					 [(ngModel)]="newTodoText" 
					 (keyup.enter)="addTodo()">
  </header>

  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of store.todos" 
          [class.completed]="todo.completed" 
          [class.editing]="todo.editing">
        <div class="view">
          <input class="toggle" 
								 type="checkbox" 
                 (click)="toggleCompletion(todo)" 
								 [checked]="todo.completed">
          <label (dblclick)="editTodo(todo)">{{todo.title}}</label>
          <button class="destroy" (click)="remove(todo)"></button>
        </div>
        <input class="edit" 
							 *ngIf="todo.editing" 
							 [value]="todo.title" 
							 #editedtodo 
							 (blur)="completeEditing(todo, editedtodo.value)" 
							 (keyup.enter)="completeEditing(todo, editedtodo.value)"
          		 (keyup.escape)="cancelEditingTodo(todo)">
      </li>
    </ul>
  </section>
  
</section>